<footer class="container-fluid bg-primary mt-5">
    <div class="container-fluid clearfix p-4">
      <div class="float-start text-white"><img src="{{ '/assets/img/logo.png' | relative_url }}"
          alt="{{ page.title }} {{ site.title }}" style="width:20px;" class="rounded-pill">&nbsp; &copy; 2000 - {{
        site.year }} <a href="https://gekkegroninger.com" class="text-white">Gekke Groninger</a>, All Rights Reserved.</div>
      <div class="float-end text-white"><a href="{{ '/privacy/' | relative_url }}" class="text-white">Privacy Policy</a> - <a
          href="{{ '/disclamer/' | relative_url }}" class="text-white">Disclamer</a></div>
    </div>
  </footer>