<!doctype html>
<html lang="NL" data-bs-theme="auto">
<head>
  {% include head.html %}
</head>
<body>
  {% include navigation.html %}
  
  {{ content }}
  {% include footer.html %}

  <script src="{{ '/assets/js/typed.umd.js' | relative_url }}"></script>
    <script>
        var typed = new Typed('#type-element', {
            /**
             * @property {array} strings strings to be typed
             * @property {string} stringsElement ID of element containing string children
             */
            strings: [
                'Gamer',
                'Minecraft',
                'Eurotruck Simulator',
                'Farming Simulator',
                'Video Creator',
                'Fun!'
            ],
            stringsElement: null,

            /**
             * @property {number} typeSpeed type speed in milliseconds
             */
            typeSpeed: 90,

            /**
             * @property {number} startDelay time before typing starts in milliseconds
             */
            startDelay: 0,

            /**
             * @property {number} backSpeed backspacing speed in milliseconds
             */
            backSpeed: 50,

            /**
             * @property {boolean} smartBackspace only backspace what doesn't match the previous string
             */
            smartBackspace: true,

            /**
             * @property {boolean} shuffle shuffle the strings
             */
            shuffle: false,

            /**
             * @property {number} backDelay time before backspacing in milliseconds
             */
            backDelay: 700,

            /**
             * @property {boolean} fadeOut Fade out instead of backspace
             * @property {string} fadeOutClass css class for fade animation
             * @property {boolean} fadeOutDelay Fade out delay in milliseconds
             */
            fadeOut: false,
            fadeOutClass: 'typed-fade-out',
            fadeOutDelay: 500,

            /**
             * @property {boolean} loop loop strings
             * @property {number} loopCount amount of loops
             */
            loop: true,
            loopCount: Infinity,

            /**
             * @property {boolean} showCursor show cursor
             * @property {string} cursorChar character for cursor
             * @property {boolean} autoInsertCss insert CSS for cursor and fadeOut into HTML <head>
             */
            showCursor: true,
            cursorChar: '|',
            autoInsertCss: true,

            /**
             * @property {string} attr attribute for typing
             * Ex: input placeholder, value, or just HTML text
             */
            attr: null,

            /**
             * @property {boolean} bindInputFocusEvents bind to focus and blur if el is text input
             */
            bindInputFocusEvents: false,

            /**
             * @property {string} contentType 'html' or 'null' for plaintext
             */
            contentType: 'html',

            /**
             * Before it begins typing
             * @param {Typed} self
             */
            onBegin: (self) => { },

            /**
             * All typing is complete
             * @param {Typed} self
             */
            onComplete: (self) => { },

            /**
             * Before each string is typed
             * @param {number} arrayPos
             * @param {Typed} self
             */
            preStringTyped: (arrayPos, self) => { },

            /**
             * After each string is typed
             * @param {number} arrayPos
             * @param {Typed} self
             */
            onStringTyped: (arrayPos, self) => { },

            /**
             * During looping, after last string is typed
             * @param {Typed} self
             */
            onLastStringBackspaced: (self) => { },

            /**
             * Typing has been stopped
             * @param {number} arrayPos
             * @param {Typed} self
             */
            onTypingPaused: (arrayPos, self) => { },

            /**
             * Typing has been started after being stopped
             * @param {number} arrayPos
             * @param {Typed} self
             */
            onTypingResumed: (arrayPos, self) => { },

            /**
             * After reset
             * @param {Typed} self
             */
            onReset: (self) => { },

            /**
             * After stop
             * @param {number} arrayPos
             * @param {Typed} self
             */
            onStop: (arrayPos, self) => { },

            /**
             * After start
             * @param {number} arrayPos
             * @param {Typed} self
             */
            onStart: (arrayPos, self) => { },

            /**
             * After destroy
             * @param {Typed} self
             */
            onDestroy: (self) => { },
        });
    </script>


  <script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 4000);    
    }
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    
    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
  <script type="module" src="/cookieconsent-config.js"></script>
</body>
</html>